/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  transition: 0.2s ease-in-out;
}

#main {
  transition: 0.2s ease-in-out;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Fonts */

/* montserrat-regular - latin_latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../../dist/fonts/montserrat-v12-latin_latin-ext-regular.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../../dist/fonts/montserrat-v12-latin_latin-ext-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../dist/fonts/montserrat-v12-latin_latin-ext-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../dist/fonts/montserrat-v12-latin_latin-ext-regular.woff") format("woff"),
    /* Modern Browsers */ url("../../dist/fonts/montserrat-v12-latin_latin-ext-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../../dist/fonts/montserrat-v12-latin_latin-ext-regular.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin_latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../../dist/fonts/montserrat-v12-latin_latin-ext-600.eot"); /* IE9 Compat Modes */
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../../dist/fonts/montserrat-v12-latin_latin-ext-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../dist/fonts/montserrat-v12-latin_latin-ext-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../dist/fonts/montserrat-v12-latin_latin-ext-600.woff") format("woff"),
    /* Modern Browsers */ url("../../dist/fonts/montserrat-v12-latin_latin-ext-600.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../../dist/fonts/montserrat-v12-latin_latin-ext-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin_latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../../dist/fonts/montserrat-v12-latin_latin-ext-700.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../../dist/fonts/montserrat-v12-latin_latin-ext-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../dist/fonts/montserrat-v12-latin_latin-ext-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../dist/fonts/montserrat-v12-latin_latin-ext-700.woff") format("woff"),
    /* Modern Browsers */ url("../../dist/fonts/montserrat-v12-latin_latin-ext-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../../dist/fonts/montserrat-v12-latin_latin-ext-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* Basic */

body {
  font-family: "Montserrat", sans-serif;
  background: #fafafa;
}

a {
  text-decoration: none;
  color: #333;
}

.a--light {
  color: #fafafa;
}

.a--light:hover {
  text-decoration: underline;
}

.a--light:visited {
  color: #fafafa;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.block--blur {
  filter: blur(4px);
  pointer-events: none;
}

.block--none {
  display: none;
}

.modal--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* Header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 80px;
  font-size: 2em;
  font-weight: 700;
  color: #333;
  z-index: 10;
  width: 100vw;
  transition: 0.2s ease-in-out;
  height: 80px;
}

.header--highlight {
  box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.header--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 90%;
}

.header--title {
  font-size: 0.8em;
  letter-spacing: -0.5px;
}

.header--nav {
  height: 100%;
}

/* Main Navigation */

.nav--list {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

.nav__el {
  display: inline;
  padding: 0 0.3em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.nav__el:hover {
  background: #f1f1f1;
}

.nav__el--last:hover {
  background: none;
}

.nav--link {
  text-transform: uppercase;
  font-size: 0.6em;
  color: #222;
}

.link--last {
  padding: 0.3em 0.66em;
  border-radius: 0.25em;
  background: #222;
  color: #fafafa;
  transition: 0.2s ease-in-out;
  display: unset;
  border: 3px solid #222;
}

.link--last:hover {
  border: 3px solid #222;
  background: none;
  color: #222;
}

/* Hamburger Menu */

.nav--hamburger a:first-child {
  z-index: 1000;
}

.nav--hamburger__content {
  height: 100%;
  width: 100%;
  z-index: 100;
  background: #f5f5f5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.hamburger--link {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.hamburger--btn {
  width: 1.06em;
  height: 0.8em;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

.hamburger--btn span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #222;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger--btn span:nth-child(1) {
  top: 0px;
}

.hamburger--btn span:nth-child(2),
.hamburger--btn span:nth-child(3) {
  top: 11px;
}

.hamburger--btn span:nth-child(4) {
  top: 22px;
}

.hamburger--btn.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hamburger--btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger--btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger--btn.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Sections */

.section--container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.section {
  text-align: center;
  color: #333;
  height: auto;
  padding: 5%;
}

.section--title {
  font-size: 2.3em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.4em;
}

.section--separator {
  width: 45px;
  height: 2px;
  display: block;
  margin: auto;
  border-radius: 99px;
  background: #fff;
  opacity: 0.9;
  margin-bottom: 1.5em;
}

.section--subtitle {
  margin-bottom: 3em;
  color: #adadad;
}

.section--paragraph {
  margin-top: 1.2em;
  font-size: 1.3em;
  text-align: left;
  letter-spacing: 0.035em;
  word-spacing: 0.05em;
  line-height: 1.2em;
  padding: 0 5em;
}

.section__hero {
  color: #222;
  padding: 0;
  height: 90vh;
  position: relative;
}

.container--hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero--intro {
  text-align: left;
  margin-bottom: 0.1em;
  font-size: 1.8em;
  font-weight: 600;
}

.hero--title {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  font-weight: 700;
  letter-spacing: -0.035em;
  line-height: 1em;
}

.hero--subtitle {
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 4em;
  color: #444;
}

.container--hero__btn {
  text-align: right;
  margin-top: 1.75em;
}

.hero__btn {
  padding: 1em;
  background: #222;
  border: 3px solid #222;
  font-weight: 600;
  font-size: 1em;
  transition: 0.2s ease-in-out;
  color: #fafafa;
  border-radius: 0.25em;
}

.hero__btn:hover {
  border: 3px solid #222;
  color: #222;
  background: rgba(0, 0, 0, 0);
}

.section__dark {
  background: #222;
  color: #fafafa;
}

/* About */

.about {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: auto;
  margin: auto;
}

/* Old */

.about__container {
  color: #222;
  font-weight: 600;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 700px;
}

.about--el {
  width: 15em;
  padding: 6em 0;
  position: relative;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-radius: 1em;
  overflow: hidden;
}

.about--el:hover img {
  filter: blur(4px);
}

.about--el img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  transition: 0.2s ease-in-out;
}

.about--el span {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 0.25em;
  background: #fafafa;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #111;
  box-shadow: 0 5px 20px -1px rgba(68, 68, 68, 0.4);
}

/* Projects */

.projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.project {
  height: auto;
  width: 100%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-bottom: 1em;
  margin-top: 1em;
}

.project:not(:last-child) {
  margin-right: 2em;
}

.project:hover .project__content {
  transform: translateY(-3%);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(209, 209, 209, 1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(209, 209, 209, 1);
  box-shadow: 0px 10px 20px 0px rgba(209, 209, 209, 1);
}

/*.p--project {
  margin-top: 1em;
  font-size: 1.4em;
  font-weight: 600;
}*/

.project__content {
  height: 20rem;
  width: 100%;
  transition: 0.2s ease-in-out;
  border-radius: 1rem;
  font-size: 2.25em;
  color: #fafafa;
  font-weight: 600;
}

/* Skills */

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 70%;
  margin-top: 2em;
  position: relative;
  max-width: 700px;
}

.skill {
  width: 20%;
  border-radius: 2em;
}

/* Articles */

.articles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 90%;
  margin-top: 2em;
}

.article {
  height: 33%;
  width: 25em;
  border-radius: 0.5em;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #ebebeb;
}

.article:hover {
  -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
}

.article:hover .article__btn {
  color: #222;
}

.img--article {
  max-width: 100%;
}

.article__content {
  width: calc(85% - 2px);
  padding: 7.5%;
  height: 39%;
}

.article__title {
  font-size: 1.4em;
  font-weight: 600;
  text-align: left;
  height: 2em;
  max-height: 2em;
  margin-bottom: 1em;
}

.article__lead {
    max-height: 7rem;
    height: 7rem;
    text-overflow: ellipsis;
    margin-top: 1em;
    text-align: left;
    font-size: 1.1em;
    line-height: 20px;
}

.article__btn {
  font-weight: 600;
  text-align: left;
  margin-top: 2em;
  color: #5a5a5a;
  line-height: 20px;
  transition: 0.2s ease-in-out;
}

/* Contact */

.contact--map {
  width: 100%;
  height: 25em;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 70%;
  margin-top: 2em;
  flex-wrap: wrap;
}

.contact__el--top {
  width: calc((100% - 30px) / 2);
  position: relative;
}

.contact__el--center {
  width: 100%;
  position: relative;
  margin-top: 1.5em;
}

.contact__label {
  display: block;
  text-align: left;
  color: #555555;
  line-height: 1.5;
  font-weight: 600;
}

.contact__input {
  display: block;
  width: 90%;
  background: #f3f3f3;
  color: #686868;
  transition: all 0.4s;
  border: none;
  padding: 5%;
  font-size: 1.4em;
  margin-top: 0.5em;
  border-radius: 2px;
}

.contact__input:focus {
  background: #e6e6e6;
  border: none;
}

.contact__textarea {
  max-width: 95%;
  min-width: 95%;
  min-height: 5em;
  font-family: Montserrat;
}

.contact__el--center .contact__input {
  padding: 2.5%;
  width: 95%;
}

.contact__btn {
  margin-top: 1.5em;
  padding: 1em;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-left: auto;
  background: #eaeaea;
  cursor: pointer;
  -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  width: auto;
  transition: 0.2s ease-in-out;
  border-radius: 2px;
  font-weight: 700;
}

.contact__btn:hover {
  background: #dedede;
}

.contact input,
.contact textarea,
.contact button {
  border-radius: 0.25em;
}

/* Icon */

.icon {
  text-decoration: none;
  position: relative;
}

.icon:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

/* Footer */

.footer {
  background: #111;
  color: #fafafa;
  width: 100%;
  height: 10em;
  font-size: 1.5em;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin-left: 0;
  vertical-align: middle;
  height: 100%;
}

.footer__links a li {
  padding: 0.4em;
  width: 1em;
  text-align: center;
  border-radius: 0.5em;
  transition: 0.2s;
  cursor: pointer;
  margin-right: 0.2em;
}

.footer__links li:hover {
  background: #222;
}

.footer__links a li img {
  height: 1em;
}

.footer__links a:last-child li {
  margin-right: 0;
}

/* Project Modal */

.modal--project {
  position: fixed;
  z-index: 10;
  box-shadow: 0 5px 20px -1px rgba(68, 68, 68, 0.4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50em;
  height: 30em;
  overflow: hidden;
  border-radius: 1em;
  background: #fafafa;
}

.project__header {
  width: 100%;
  height: auto;
  display: flex;
}

.project__title {
  width: 90%;
  height: 3em;
  background: #f0f0f0;
  font-weight: 600;
  font-size: 1.4em;
  position: relative;
}

.project__close {
  width: 10%;
  background: #eaeaea;
  font-weight: 600;
  cursor: pointer;
}

.project__close img {
  height: 1.5em;
}

.project__container {
  width: 100%;
  height: calc(100% - 4em);
  display: flex;
}

.project__gallery {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.project__info {
  height: 80%;
  width: 40%;
  padding: 5%;
  position: relative;
}

.project__title--info {
  font-weight: 600;
  width: 100%;
  height: 5%;
  font-size: 1.1em;
}

.project__desc {
  margin-top: 5%;
  width: 100%;
  height: 50%;
  overflow: auto;
  white-space: pre-line;
  font-size: 1.1em;
  line-height: 1.2em;
  word-spacing: 1px;
}

.project__btns {
  width: 80%;
  height: 3em;
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: space-between;
}

.project__btn {
  width: 45%;
  height: 100%;
  border-radius: 0.5em;
  cursor: pointer;
}

.project__btn img {
  height: 1em;
  margin-right: 0.5em;
}

.project__btn p {
  font-weight: 600;
}

.project__btn--github {
  background: #333;
  color: #fafafa;
  transition: 0.2s ease-in-out;
}

.project__btn--github:hover {
  background: #3f3f3f;
}

.project__btn--demo {
  background: #444;
  color: #fafafa;
  transition: 0.2s ease-in-out;
}

.project__btn--demo:hover {
  background: #565656;
}

.project__license {
  width: 100%;
  height: 2em;
  background: #ececec;
  display: flex;
  border-radius: 0.5em;
  overflow: hidden;
  margin-top: 1.5em;
  font-size: 1.1em;
}

.project__license__title {
  width: 35%;
  height: 100%;
  background: #e2e2e2;
  font-weight: 600;
}

.project__license__name {
  height: 100%;
  width: 65%;
  background: #ececec;
}

.gallery__btns {
  width: 90%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.gallery__btns img {
  height: 2em;
  cursor: pointer;
}

.project__gallery .gallery__img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.gallery__spinner {
  -webkit-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
  height: 4em;
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% - 2em);
}

.gallery__btns i {
  cursor: pointer;
}

.project__technologies {
  position: relative;
  margin-top: 1em;
  margin-left: 1%;
  width: 98%;
  height: 2.5em;
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
  border-radius: 0.5em;
  background: #f1f1f1;
}

.project__technologies a {
  height: 100%;
}

.project__technologies img {
  position: relative;
  width: auto;
  height: 100%;
  border-radius: 0.25em;
  box-shadow: 0 0 4px -1px rgba(68, 68, 68, 0.4);
}

/* End basic */

.text--center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.hidden {
  display: none;
}

.block--scroll {
  overflow: hidden;
}

.projects,
.articles,
.contact {
  max-width: 1350px;
}

@media (max-width: 1600px) {
  .article {
    width: 23em;
  }
}

@media (max-width: 1500px) {
  .article {
    width: 22em;
  }
}

@media (max-width: 1400px) {
  .article {
    width: 21em;
  }
}

@media (max-width: 1300px) {
  .about {
    width: 70%;
  }

  .skills {
    width: 80%;
  }

  .articles {
    width: 75%;
  }

  .articles a:last-child {
    display: none;
  }

  .article {
    width: 21em;
  }
}

@media (max-width: 1200px) {
  .about {
    width: 80%;
  }

  .skills {
    width: 90%;
  }

  .project__content img {
    height: 1em;
  }
}

@media (max-width: 1100px) {
  .about {
    width: 100%;
  }

  .articles {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .about {
    width: 100%;
  }

  .header--nav {
    display: none;
  }

  .nav--hamburger {
    display: block;
  }

  .articles {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .modal--project {
    width: 100%;
    border-radius: 0;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .hero--title {
    font-size: 4.6em;
    text-align: right;
  }

  .hero--intro {
    font-size: 2.6em;
  }

  .container--hero__btn {
    margin-top: 1.5em;
  }

  .hero__btn {
    padding: 0.7em;
  }

  .footer {
    font-size: 1.2em;
  }

  .header--container {
    max-width: 85%;
  }

  .about {
    display: block;
    width: 20em;
  }

  .about__container {
    display: unset;
  }

  .about--el {
    display: inline-block;
  }

  .about__container .about--el:first-child {
    margin-bottom: 1.5em;
  }

  .section {
    padding: 10% 0 !important;
  }

  .section--title {
    font-size: 2em;
  }

  .section--subtitle {
    font-size: 0.9em;
  }

  .projects {
    display: block;
  }

  .project {
    width: 100%;
    margin-bottom: 2em;
  }

  .project__content {
    height: 15rem;
  }

  .articles {
    display: block;
  }

  .article {
    width: 100%;
    margin-bottom: 2em;
  }

  .contact--map {
    height: 15em;
  }

  .contact__label {
    font-size: 0.8em;
  }

  .contact {
    width: 100%;
  }

  .contact__input {
    margin-top: 0.25em;
    font-size: 1.3em;
  }

  .contact__btn {
    width: auto;
  }

  .skill {
    border-radius: 1em;
  }

  .p--project {
    margin-bottom: 1em;
  }

  .modal--project {
    height: 100%;
  }

  .project__title {
    width: 80%;
  }

  .project__close {
    width: 20%;
  }

  .project__container {
    position: relative;
    height: 100%;
    overflow: auto;
    display: block;
  }

  .project__gallery {
    width: 100%;
    height: auto;
    overflow: unset;
  }

  .project__gallery .gallery__img {
    position: relative;
    top: unset;
    transform: unset;
    width: 100%;
    height: auto;
  }

  .gallery__btns {
    transform: unset;
  }

  .project__info {
    height: auto;
    width: 90%;
  }

  .project__desc {
    height: auto;
  }

  .project__license {
    margin-top: 1em;
  }

  .project__btns {
    position: relative;
    margin-top: 1em;
    width: 100%;
    margin-bottom: 4em;
    margin-top: 2em;
  }
}
